.welcome-message {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin-top: 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding: 56px;
  gap: 50px;
}

.title-describe {
  color: white;
  font-size: 19px;
}
