.container {
    border: 6px solid lightgray;
    display: flex;
    
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
    
    
}

.item-1 {
    background-color: lightblue;
    flex-grow: 3;
}

.item-2 {
    background-color: lightyellow;
    flex-grow: 1;
}
.item-3 {
    background-color: lightpink;
    flex-grow: 2;
    
}
