.container {
    border: 6px solid lightgray;
    display: flex;
    height: 800px;
    align-items: center;
    
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
    
}

.item-1 {
    background-color: lightblue;
    padding-bottom: 3rem;
}

.item-2 {
    background-color: lightyellow;
    padding-top: 10rem;
    
}
.item-3 {
    background-color: lightpink;
    padding-bottom: 15rem;
}