.container {
    border: 3px solid lightgray;
    display: flex;
    flex-direction: column;
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    border: 1px solidb black;
}

.item-1 {
    background-color: lightblue;
}

.item-2 {
    background-color: lightyellow;
    
}
.item-3 {
    background-color: lightpink;
}