.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding: 56px;
  gap: 50px;
}

.title-describe {
  color: white;
  font-size: 19px;
}

.content-card-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-card {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 10px;
}

.movie-item {
  color: white;
  justify-items: center;
}
