.container {
    border: 6px solid lightgray;
    display: flex;
    height: 800px;
    align-items: flex-end;
    
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
    
    
}

.item-1 {
    background-color: lightblue;
    align-self: flex-start;
}

.item-2 {
    background-color: lightyellow;
    align-self: center;
}
.item-3 {
    background-color: lightpink;
    align-self: stretch;
    
}
.item-4 {
    background-color: lightgoldenrodyellow;
}
.item-5 {
    background-color: lightgreen;
}
.item-6 {
    background-color: lightseagreen;
}