body {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: start;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.header-rapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-mode-button {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s;
}

.dark-mode-button:hover {
    background-color: rgb(49, 49, 49);
    color: white;
    transition: all 0.5s;
}

.short-describe {
    font-size: 14px;
    color: rgb(114, 114, 114);
}

.underline {
    margin-bottom: 50px;
    margin-top: 50px;
    border: 1px solid rgb(197, 197, 197);
}

.profile {
    height: 50px;
    position: relative;
    border-radius: 500px;
    left: -1%;

}

.who-am-i {
    padding: 25px;

}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.list-items {
    font-size: 16px;
    font-weight: 600;
}

.tag {
    background-color: rgba(244, 231, 231, 0.8);
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    font-weight: 700;
    color: rgb(81, 118, 252);
    font-size: 14px;
}

.intro-2 {
    text-align: end;
}

.list-2 {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 20px;   
}

.list-items-2 {
    font-size: 16px;
    font-weight: 600;
}

.list-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;   
    text-align: center;
}