.a-button {
    background-color: rgb(20, 40, 192);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.55s;
    transition: background-color 3s;
    vertical-align: top;
}

.a-button:hover {
    /* 투명도 */
    opacity: 0.7; 
    background-color: black;
}

.a-button:active {
    /* 투명도 */
    opacity: 0.1;
}