.container {
    border: 6px solid lightgray;
    display: flex;
    flex-wrap: wrap-reverse;
    /* flex-wrap : nowrap | wrap | wrap-reverse */
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
}

.item-1 {
    background-color: lightblue;
}

.item-2 {
    background-color: lightyellow;
    
}
.item-3 {
    background-color: lightpink;
}
.item-4 {
    background-color: lightgoldenrodyellow;
}
.item-5 {
    background-color: lightgreen;
}
.item-6 {
    background-color: lightseagreen;
}