.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 30px;
  background: linear-gradient(rgb(54, 0, 0), rgb(0, 0, 0));
  color: white;
}

.login-header {
  /* margin: 0px 126px; */
  padding: 24px 174px;
  border-bottom: 0.5px solid rgb(53, 53, 53);
}

.login-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.input-email {
  width: 440px;
  height: 56px;
  background-color: rgb(32, 32, 32);
  border: 0.3px solid gray;
  border-radius: 6px;
  padding: 20px;
  font-size: 16px;
  color: white;
}

.login-button {
  width: 440px;
  height: 48px;
  background-color: rgb(224, 0, 0);
  color: white;
  border-radius: 6px;
  font-size: 16px;
  display: flex;
  justify-content: center;

  align-items: center;
  cursor: pointer;
}

.login-button:hover {
  background-color: rgb(196, 0, 0);
}

.login-button:active {
  width: 440px;
  height: 48px;
  background-color: rgb(147, 0, 0);
  color: rgb(187, 187, 187);
  border-radius: 6px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
