.container {
    border: 6px solid lightgray;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
}

.item-1 {
    background-color: lightblue;
}

.item-2 {
    background-color: lightyellow;
    
}
.item-3 {
    background-color: lightpink;
}